<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicial</title>
    <link rel="stylesheet" href="../statc/index.css">
</head>
<body>
    <h1> Lista de produtos</h1>
    <a href="/criar">Novo Produto</a>
    
    <ul>
        {% for produto in produtos %}
        <li>
            {{produto['nome'] }} - {{produto ['preco']}}
            <button><a>Editar</a></button>
            <button><a href="{{ url_for('produto.deletar', id=produto['id']) }}">Deletar</a></button>


        </li>
        {% endfor %}


    </ul>
    


    
</body>
</html>